body {
  background-color: lightgrey;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
}


.stories {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  max-width: 60em;
  margin: auto;
}
.news {
  background-color: white;
  /* overflow: hidden; */
  margin: 1em 0;
  text-align: left;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  border-radius: 1em;
}

.news-lead {
  text-align: center;
}
.news-text {
  padding: 0 1em;
}
.news-img {
  max-width: 100%;
}
.news-btn {
  display: block;
  background-color: darkslateblue;
  color: #fff;
  padding: 1em;
  margin: 1em 0;
  text-align: center;
  text-transform: uppercase;
  font: 0.8em arial, helvetica, sans-serif;
  text-decoration: none;
  box-shadow: 0.25em 0.25em 0 slateblue;
  text-shadow: 1px 1px 0 black;
}
.news-btn:hover {
  background-color: tomato;
  box-shadow: 0.25em 0.25em 0 crimson;
}
.pagination {
  padding-left: 0;
  text-align: center;
}
.pagination li {
  display: inline-block;
}