body {
  margin: 1em;
  background-color: greenyellow;
}
.playground {
  background-color: grey;
  padding: 2em;
}
.sandbox {
  background-color: goldenrod;
  position: relative;
}
.kid {
  width: 7em;
  height: 7em;
}


/* From the ___ side of the element, to the ___ side of the orientation point, there is ___ (measurement) */
.freddy {
  background-color: rebeccapurple;
  /* Orientation: Viewport */
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 9999999;
}

.abby {
  background-color: darkorchid;
  /* Orientation: First non-static predecessor */
  position: absolute;
  left: 1em;
  bottom: 1em;
  z-index: 1;
}
.sarah {
  background-color: plum;
  position: static;
}
.ralph {
  background-color: violet;
  /* Orientation: Its static-self */
  position: relative;
  z-index: 0;
}
