body {
  background-color: #ddd;
  color: #111;
  font: 1em helvetica, arial, sans-serif;
}

.course {
  background-color: #fff;
  padding: 0 1em;
  overflow: hidden;
  box-shadow: 0 0 1em rgba(0,0,0,0.4);
  margin: 1em 0;
}

.course-name {
  color: #666;
  font: 1.5em georgia, serif;
}
.cat-design {
  border-left: 5px solid tomato;
}
.cat-development {
  border-left: 5px solid teal;
}