* {
  box-sizing: border-box;
}

.box {
  background-color: crimson;
  color: white;
  text-align: justify;
  
  display: inline-block;
  width: 50%;
  height: auto;
  padding: 1em;
  border: 1em dashed black;
}

.link {
  display: inline-block;
  background-color: goldenrod;
  padding: 2em;

}

.menu {
  list-style: none;
  padding: 0;
  /* display: none; */
}
.menu-item {
  background-color: darksalmon;
  display: inline-block;
}
.menu-link {
  display: block;
  text-decoration: none;
  padding: 1em;
}