body {
  background-color: #ddd;
  color: #111;
  font: 1em helvetica, arial, sans-serif;
}

/* <button type="button" id="hello" class="btn">Hello</button> */
/* All of these selectors target this element */

* { color: black; }
button { color: black; }
.btn { color: black; }
[type="button"] { color: black; }
#hello { color: black; }