body {
  background-color: #ddd;
  color: #111;
  font: 1em helvetica, arial, sans-serif;
}

.filters {
  background-color: white;
  padding: 1em;
  border: 1px solid #999;
  margin: 1em 0;
}

.courses {
  display: grid;
  grid-gap: 1em;
  
}


.course {
  background-color: #fff;
  padding: 0 1em;
  overflow: hidden;
  box-shadow: 0 0 1em rgba(0,0,0,0.4);
  /* margin: 1em 0; */
  position: relative;
}
.course.soldout {
  box-shadow: none;
  background-color: #eee;
  color: #999;
}

.course-register {
  position: absolute;
  top: 1em;
  right: 1em;
}


.cat-design {
  border-left: 5px solid tomato;
}
.cat-development {
  border-left: 5px solid teal;
}

.callout {
  display: inline-block;
  font-size: 0.5em;
  vertical-align: top;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  background-color: grey;
  color: white;
  text-shadow: 0.125em 0.125em 0 rgba(0,0,0,0.4);
  box-shadow: 0 0 1em rgba(0,0,0,0.4);
}
.callout.urgent {
  background-color: crimson;
}


@media screen and (min-width: 40em) {
  .grid-view {
    grid-template-columns: 1fr 1fr;
  }

  .grid-view .course-info {
    display: none;
  }
}