body {
  background-color: #ddd;
  color: #111;
  font: 1em helvetica, arial, sans-serif;
}




/* Style radio input like buttons */



/* Style dropdown  */
.select-lights {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */

  display: inline-block;
  font: 1.25em georgia, serif;
  background-color: darkslateblue;
  color: white;
  width: 8em;
  border: 2px solid black;
  padding: 0.25em 0.5em;
  text-shadow: 1px 1px black;
  box-shadow: 0.125em 0.125em 0 slateblue;

  background-image: url('https://img.icons8.com/plasticine/2x/down.png');
  background-size: 1.5em;
  background-repeat: no-repeat;
  background-position: center right;
}