body {
  background-color: #ddd;
  color: #111;
  font: 1em helvetica, arial, sans-serif;
}

.inpt {
  background-color: slateblue;
  text-shadow: 1px 1px black;
  box-shadow: 0.125em 0.125em 0 darkslateblue;
  color: white;
  padding: 0.25em 0.5em;
  border: 2px solid black;
  border-radius: 0.125em;
  font: 1.25em georgia, serif;
}

/* Style radio input like buttons */
.option {
  position: relative;
  display: inline-block;
}
.radio {
  /* display: none; */
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.radio-btn {
  display: inline-block;
  font: 1.25em georgia, serif;
  background-color: darkslateblue;
  color: white;
  padding: 0.25em 0.5em;
  border-radius: 0.125em;
  text-shadow: 1px 1px black;
  box-shadow: 0.125em 0.125em 0 slateblue;
}
.radio:checked + .radio-btn {
  box-shadow: none;
  background-color: slateblue;
  text-shadow: none;
  border: 2px solid black;
}




/* Style dropdown  */
.select-lights {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  display: inline-block;
  font: 1.25em georgia, serif;
  background-color: darkslateblue;
  color: white;
  width: 8em;
  border: 2px solid black;
  padding: 0.25em 0.5em;
  text-shadow: 1px 1px black;
  box-shadow: 0.125em 0.125em 0 slateblue;

  background-image: url('https://img.icons8.com/plasticine/2x/down.png');
  background-size: 1.5em;
  background-repeat: no-repeat;
  background-position: center right;
}