@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i&display=swap');

:root {
  --light: #ffffff;
  --dark: #000000;
  --semidark: #252525;
  --mid: #717171;
  --semilight: #ccc;
  --links: #56abff;
  --font-headings: 'Roboto', helvetica, arial, sans-serif;
  --font-content: 'Roboto', helvetica, arial, sans-serif;
  --spacing: 1em;
}

body {
  background-color: var(--light);
  color: var(--dark);
  line-height: 2;
  font-size: 2em;
  font-weight: bold;
  font: 1em var(--font-headings);
}

a {
  color: var(--dark);
}


/**** HEADER ****/

.header {
  background-color: var(--semidark);
  color: var(--light);
}
.navarea {
  display: grid;
  background-color: var(--semidark);
  grid-template-columns: auto 1fr  auto;
  grid-template-areas:  "drop logo cart"
                        "srch srch srch"
                        "menu menu menu";
  padding: 0 1em;
  transition: background-color 0.5s;
}

/* .navarea:hover .search, .navarea:hover .mainmenu {
  display: block;
} */
.navarea:hover {
  background-color: var(--dark);
}


.apple { 
  grid-area: logo; 
  text-align: center;
}
.hamburger {
  grid-area: drop; 
  background-color: transparent;
  color: white;
  border: none;
}
.search { 
  grid-area: srch; 
  background-color: var(--mid);
  border: none;
  border-radius: 0.5em;
  padding: 0.5em;
  color: var(--light);
  background-image: url(/img/search.svg);
  background-repeat: no-repeat;
  background-position: 0.5em -0.25em;
  padding-left: 2em;

  /* display: none; */
}
.search::placeholder {
  color: var(--dark);
}

.mainmenu { 
  grid-area: menu;
  text-align: center;
  /* display: none; */
}
.mainmenu a{
  color: var(--light);
  text-decoration: none;
  padding: 0 1em;
  line-height: 2.75;
  display: block;
}
.mainmenu a:hover {
  color: var(--dark);
  background-color: var(--light);
}
.addtocart { 
  grid-area: cart; 
  background-color: transparent;
  border: none;
}



/**** MAIN ****/

.product {
  text-align: center;
  line-height: 1.7;
  padding: 1em 1em 1em 1em;
  min-height: 20em;
  background-size: auto 15em;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.product.dark {
  background-color: var(--dark);
  color: var(--light);
}
.product.light {
  background-color:var(--light);
  color: var(--dark);
}

.iphone11pro {
  background-image: url('/img/iphone11pro.jpg');
}
.iphone11 {
  background-image: url('/img/iphone11.jpg');
}
.watchv5 {
  background-image: url('/img/applewatch.jpg');
}



.product-name {
  font-size: 2em;
  font-weight: 500;
}

.product-subpoint {
  color: var(--mid);
  font-size: 0.9em;
}

.product-links li {
  display: inline-block;
  margin: 0 0.5em;
}

.product-links a {
  color: var(--links);
  text-decoration: none;
  font-size: 1.2em;
}
.product-links a:hover {
  text-decoration: underline;
}

.product-links a::before {
  content: "🐳";
}
.product-links a::after {
  content: "🐙";
  /* background-color: red; */
}


/**** MEDIA QUERIES (MUST GO AT THE BOTTOM) ****/

@media screen and (min-width: 900px) {

  .navarea {
    grid-template-columns: 2em  auto 2em  2em;
    grid-template-areas:  "logo menu srch cart";
  }
  .hamburger {
    display: none;
  }
  .search {
    background-color: transparent;
    background-position-y: 0;
  }
  .mainmenu {
    text-align: right;
    display: flex;
    justify-content: space-evenly;
  }



}

@media screen and (min-width: 1325px) {

}